<%= semantic_form_for @active_admin_import_model, url: { action: :do_import }, html: { multipart: true } do |f| %>
  <%= f.inputs do %>
    <%= f.input :file, as: :file, label: t('active_admin_import.file') %>
    <li>
      <%= f.label t('activerecord.attributes.submission.collect_id') %>
      <%= f.select :collect_id, options_for_select(Collect.all.collect{ |c| [c.name, c.id] }), { include_blank: true, selected: nil } %>
    </li>
    <%= f.input(:send_to_pipefy, as: :boolean) if @active_admin_import_model.respond_to?(:send_to_pipefy) %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, label: t('active_admin_import.import_btn'), button_html: { disable_with: t('active_admin_import.import_btn_disabled') } %>
  <% end %>
<% end %>
