<!DOCTYPE html>
<html>
  <head>
    <title>Acompanhamento de dados educacionais</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= hidden_field_tag :baseline_url, ENV['BASELINE_FORM_ASSEMBLY_URL'], id: 'baseline_url' %>
    <%= hidden_field_tag :follow_up_url, ENV['FOLLOW_UP_FORM_ASSEMBLY_URL'], id: 'follow_up_url' %>
    <div class="container">
      <div class="columns">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
